.active-tab {
  color: #fec653;
  font-size: 18px;
  font-family: 'Roboto';
  border-bottom: #fec653 solid 2px;
}

.tab-list-display-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
}

.button-tab {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.tab-button-list-item {
  list-style-type: none;
}
